<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sesion 01</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>

        <input type="text" v-model="nuevaFruta">
        <!--evento click con vue @click="nuestra funcion"-->
        <button @click="agregarFruta">Agregar</button>

        <ul>
            <li v-for="fruta of frutas">
                {{fruta.cantidad}}
                {{fruta.nombre}}
                <span v-if="fruta.cantidad == 0">sin stock</span>
            </li>
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="02.js"></script>
</body>
</html>